/* Global styles */

body
{
    background-color:aliceblue;
}

h2
{
    background-color: beige;
}

/* Styles for index.html */
.main-title
{
    text-align: center;
    background-color: beige;
}

.list
{
    background-color: bisque;
    font-family: "Courier New", monospace;
    font-weight: 700;
}

/* Styles for chicken-enchilada.html */

.recipe-title
{
    text-align: center;
}